<%- include ("./partials/header.ejs") %>

    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="title">Hair Care Products</div>
        <div class="prod-container">
            <div class="left-sidebar">
                <div class="filter-items" >
                    <input type="checkbox" id="collapse" name="collapse" checked>
                    <label for="collapse" class="label-collapse">Brand</label>
                    <div class="brands" id="brands">
                        <hr>
                        <input type="checkbox" id="b1" name="brand1" value="GSK">
                        <label for="b1">GSK</label>
                        <br>
                        <input type="checkbox" id="b2" name="brand2" value="Eva Pharma">
                        <label for="b2">Eva Pharma</label>
                        <br>
                        <input type="checkbox" id="b3" name="brand3" value="GSK">
                        <label for="b3">GSK</label>
                        <br>
                        <input type="checkbox" id="b4" name="brand4" value="Eva Pharma">
                        <label for="b4">Eva Pharma</label>
                    </div>
                </div>
                <div class="price-range">
                    <h2>Price Range</h2>
                    <div class="well">
                        <div class="slider slider-horizontal" style="width: 182px;">
                            <div class="slider-track">
                                <div class="slider-selection" style="left: 70.8333%; width: 18.3333%;"></div>
                                <div class="slider-handle round left-round" style="left: 70.8333%;"></div>
                                <div class="slider-handle round" style="left: 89.1667%;"></div>
                            </div>
                            <div class="tooltip top" style="top: -30px; left: 113.1px;">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner">425 : 535</div>
                                </div><input type="text" class="span2" value="" data-slider-min="0"
                                    data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]"
                                    id="sl2" >
                            </div><br>
                            <b>$ 0</b> <b class="pull-right">$ 600</b>
                    </div>
                </div>
            </div>  
            <div class="products">
                <div class="product-container">
                    <img src="<%= %>" alt="<%= %>">
                        <div class="product">
                            <a href="./productDetails" title="<%= %>" class="product-title"> <%= %> </a>
                                <h5 class="price"><%= %></h5>
                                <button class="btnm">Add to Cart</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    
    <%- include ("./partials/footer.ejs") %>
</body>

</html>
