<%- include ("./partials/header.ejs") %>
<body>
    <div class="wrapper">
        <div class="title">Medicines</div>
           
            <div class="products">
                <% if (products.length > 0) { %>
                    <% products.forEach(product => { %>
                <div class="product-container">
                    <img src="/IMAGES/<%=product.img %>" alt="<%= %>">
                    <div class="product">
                        <a href="/medications/productDetails/<%=product.id%>" title="<%= %>" class="product-title"> <%= product.product_name %> </a>
                        <h5 class="price"><%= product.product_price %></h5>
                        <form action="/add" method="post">
                            <input type="hidden" name="product" value="<%= product._id %>">
                            <input type="hidden" name="name" value="<%= product.product_name %>">
                            <input type="hidden" name="price" value="<%= product.product_price %>">
                            <input type="hidden" name="image" value="/imgs/uploads/<%= product.img%>">
                            <input type="number" name="quantity" value="1" hidden>
                           <button class="btnm" type="submit">Add to Cart</button>
                          </form>   
                        <!-- <button class="btnm">Add to Cart</button> -->
                    </div>
                </div>
                <% }) %>
            <% } else{ %>
                <p>There is no products to display....</p>
                <% } %>
            </div> 
            
            <ul class="pagination">
                <% if (pages > 0) { %>
                    <% for(let i = 1; i <= pages; i++) { %>
                        <li class="<%= current == i ? 'active' : '' %>">
                        <a href="/medications?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
    </div>
    
    <%- include ("./partials/footer.ejs") %>
</body>

</html>