<%- include ("./partials/header.ejs") %>

    <div class="wrapper">
        <div class="title">Medicines</div>
           
            <div class="products">
                <% if (products.length > 0) { %>
                    <% products.forEach(product => { %>
                <div class="product-container">
                    <img src="/IMAGES/<%=product.img %>" alt="<%= %>">
                    <div class="product">
                        <a href="./productDetails" title="<%= %>" class="product-title"> <%= product.product_name %> </a>
                        <h5 class="price"><%= product.product_newprice %></h5>
                        <button class="btnm">Add to Cart</button>
                    </div>
                </div>
                <% }) %>
            <% } else{ %>
                <p>There is no products to display....</p>
                <% } %>
            </div> 
    </div>
    
    <%- include ("./partials/footer.ejs") %>
</body>

</html>
