<%- include ("./partials/header.ejs") %>
<body>
    <div class="wrapper">
        <div class="title">Mother Baby Care</div>
           
            <div class="products">
                <% if (products.length > 0) { %>
                    <% products.forEach(product => { %>
                <div class="product-container">
                    <img src="/IMAGES/<%=product.img %>" alt="<%= %>">
                    <div class="product">
                        <a href="/motherbaby/productDetails/<%=product.id%>" title="<%= %>" class="product-title"> <%= product.product_name %> </a>
                        <h5 class="price"><%= product.product_newprice %></h5>
                        <button class="btnm">Add to Cart</button>
                    </div>
                </div>
                <% }) %>
            <% } else{ %>
                <p>There is no products to display....</p>
                <% } %>
            </div> 
            
            <ul class="pagination">
                <% if (pages > 0) { %>
                    <% for(let i = 1; i <= pages; i++) { %>
                        <li class="<%= current == i ? 'active' : '' %>">
                        <a href="/motherbaby?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
    </div>
    
    <%- include ("./partials/footer.ejs") %>
</body>

</html>