<%- include ("./partials/header.ejs") %>
        <br>
        <div class="product1">
            <div class="product-image">
                <img src="../IMAGES/<%=product.img %>" alt="Panadol">
            </div>
            <div class="product-details">
                <h2><%= product.product_name %></h2>
                <h3 class="price"><%= product.product_newprice %></h3>
                <hr>
                <br>
                <p class="title1">Active Ingredient:</p>
                <span>Paracetamol (Acetaminophen)</span>
                <br>
                <br>
                <p class="title1">Side Effect:</p>
                <p><%= product.side_effect %></p>
                <button class="btnm">Add To Cart</button>
            </div>
        </div>
        <%- include ("./partials/footer.ejs") %>
</html>