<%- include ("./partials/header.ejs") %>
    <body>
        <br>
        <div class="productm">
            <div class="product-image">
                <img src="/IMAGES/<%= prod.img %>" alt="<%= %>">
            </div>
            <div class="product-details">
                <h2><%= prod.product_name %></h2>
                <h3 class="price"><%= prod.product_newprice %></h3>
                <hr>
                <br>
                <p class="title1">Active Ingredient:</p>
                <span><%= prod.active_ingredient %></span>
                <br>
                <br>
                <p class="title1">Side Effect:</p>
                <p><%= prod.side_effect %></p>
                <button class="btnm">Add To Cart</button>
            </div>
        </div>
        <%- include ("./partials/footer.ejs") %>
    </body>>
</html>