<%- include ("./partials/header.ejs") %>
<body>
    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container2">
            <div class="title">Vitamins</div>
            <div class="product1">
                <div class="product-container1">
                    <div class="product-item">
                        <div class="product-img">
                            <img src="<%= %>" alt="<%= %>">
                            <div>
                                <button type="button" class="add-btnr">Add to Cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <a href="./productDetails" title="<%= %>" class="product-title"> <%= %> </a>
                            <div>
                                <span class="price"><%= %></span>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    <%- include ("./partials/footer.ejs") %>
</body>

</html>